@model IEnumerable<DoAnGiay.Areas.Admin.Models.SaleModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            
                            <th class="hidden-480">
                                @Html.DisplayNameFor(model => model.PriceSale)
                            </th>
                            <th class="hidden-480">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="hidden-480">
                                    @Html.DisplayFor(modelItem => item.PriceSale)
                                </td>
                                <td class="hidden-480">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>

                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-xs btn-success" ata-rel="tooltip" title="Details">
                                        <i class="ace-icon fa fa-folder-open bigger-120"></i>
                                    </a>
                                    @*<a onclick="showModal('@Url.Action("Details","Producer",new { id = $"{item.IdPro}" },Context.Request.Scheme)','Chi tiết chất liệu')" class="btn btn-xs btn-success" ata-rel="tooltip" title="Details">
                                            <i class="ace-icon fa fa-folder-open bigger-120"></i>
                                        </a>*@
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-info" data-rel="tooltip" title="Edit">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                    @*<a onclick="showModal('@Url.Action("Edit","Producer",new { id = $"{item.IdPro}" },Context.Request.Scheme)','Chỉnh sửa thông tin nhà cung cấp')" class="btn btn-xs btn-info" data-rel="tooltip" title="Edit">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>*@
                                    @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger" data-rel="tooltip" title="Delete">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>*@
                                    <a onclick="showModal('@Url.Action("Delete","Sale",new { id = $"{item.Id}" },Context.Request.Scheme)','Xóa thông tin khuyến mãi')" class="btn btn-xs btn-danger" data-rel="tooltip" title="Delete">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>
                    <a asp-action="Create" class="btn btn-success text-white">Thêm Giày Mới</a>
                    @*<a onclick="showModal('@Url.Action("Create","Producer",null,Context.Request.Scheme)','Thêm Thông Tin Nhà Cung Cấp')" class="btn btn-success text-white">
                            Thêm Thông Tin Nhà Cung Cấp
                        </a>*@
                </p>
            </div><!-- /.span -->
        </div><!-- /.row -->
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
