<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"] - DoAnGiay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <partial name="_PartialHead.cshtml" />
    @RenderSection("CSS", required: false)

</head>
<body>
    <partial name="_PartialHeader.cshtml" />
    <div class="main">
        @RenderBody()
    </div>


    <partial name="_PartialFooter.cshtml" />

    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };


            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
    @RenderSection("Scripts", required: false)
    @RenderSection("JS", required: false)
</body>
</html>
