@model DoAnGiay.Areas.Admin.Models.ShoeModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <div class="space visible-xs"></div>

        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Name) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Name)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Date) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Date)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Img) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Img)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Price) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Price)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Size) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Size.NumSize)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Color) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Color.Name)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Sale) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Sale.Name)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.NumberSeri) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.NumberSeri)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Shoelate) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Shoelate)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Version) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Version)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Material) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Material)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.TypeShoe) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.TypeShoe.Name)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Producer) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Producer.Name)</span>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Description) </div>

                <div class="profile-info-value">
                    <span> @Html.DisplayFor(model => model.Description)</span>
                </div>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Html.DisplayNameFor(model => model.Status) </div>

            <div class="profile-info-value">
                <span>@Html.DisplayFor(model => model.Status)</span>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdShoe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

